NodeRed_flow.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"4ec355a1bc272eb3","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"drone/deslocamento","qos":"2","datatype":"auto-detect","broker":"29fd6f02e17d2c10","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":180,"wires":[["5d827091a4c4a0c5"]]},{"id":"996909e67b639618","type":"ui_joystick","z":"f6f2187d.f17ca8","d":true,"name":"Joystick","group":"3ff702ba68a40b05","order":5,"width":6,"height":2,"trigger":"d90","timeInterval":"","useThemeColor":true,"color":"#000000","threshold":"1","directions":"ver","shape":"circle","centerAtRelease":true,"x":90,"y":360,"wires":[["ffd28107e091c757"]]},{"id":"5d827091a4c4a0c5","type":"ui_chart","z":"f6f2187d.f17ca8","name":"Deslocamento x Tempo","group":"d7a9aeb7f59d1301","order":1,"width":0,"height":0,"label":"Posição x Tempo","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"1200","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":370,"y":180,"wires":[[]]},{"id":"19bd6e42480e5775","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"37045336fb6161e4","order":3,"width":0,"height":0,"passthru":false,"label":"Return to Home","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":560,"wires":[["2900c2b62422ce52"]]},{"id":"62571079928c2fe7","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"Motor value","group":"ee546c56998438bc","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência das Hélices","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":330,"y":620,"wires":[]},{"id":"d8ddd1a788f32200","type":"ui_text","z":"f6f2187d.f17ca8","group":"19162b8a1df4bb98","order":2,"width":3,"height":1,"name":"","label":"Erro:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":310,"y":680,"wires":[]},{"id":"f6b8f2f3093b7958","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"drone/potencia","qos":"2","datatype":"auto-detect","broker":"29fd6f02e17d2c10","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":620,"wires":[["62571079928c2fe7"]]},{"id":"53ec6b7cfb73de45","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"drone/erro","qos":"2","datatype":"auto-detect","broker":"29fd6f02e17d2c10","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":680,"wires":[["d8ddd1a788f32200"]]},{"id":"514022390ee39ba3","type":"ui_text_input","z":"f6f2187d.f17ca8","name":"","label":"Setpoint","tooltip":"","group":"37045336fb6161e4","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","sendOnBlur":false,"className":"","topicType":"msg","x":100,"y":240,"wires":[["e6e8c01e82cdbbe5"]]},{"id":"2900c2b62422ce52","type":"mqtt out","z":"f6f2187d.f17ca8","name":"drone/rth","topic":"drone/rth","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fd6f02e17d2c10","x":320,"y":560,"wires":[]},{"id":"e6e8c01e82cdbbe5","type":"mqtt out","z":"f6f2187d.f17ca8","name":"drone/destino","topic":"drone/destino","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fd6f02e17d2c10","x":340,"y":240,"wires":[]},{"id":"4ed7406a21dbe4d1","type":"mqtt out","z":"f6f2187d.f17ca8","d":true,"name":"drone/joystick","topic":"drone/joystick","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fd6f02e17d2c10","x":1240,"y":380,"wires":[]},{"id":"ffd28107e091c757","type":"split","z":"f6f2187d.f17ca8","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":210,"y":360,"wires":[["a05b1742ebef9de2"]]},{"id":"1d2b8244d86bb17c","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"37045336fb6161e4","order":2,"width":0,"height":0,"passthru":false,"label":"Iniciar Movimento","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":740,"wires":[["324b0fbc27b78735"]]},{"id":"324b0fbc27b78735","type":"mqtt out","z":"f6f2187d.f17ca8","name":"drone/can_move","topic":"drone/can_move","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fd6f02e17d2c10","x":350,"y":740,"wires":[]},{"id":"dfe4dbe0e56f8657","type":"ui_switch","z":"f6f2187d.f17ca8","name":"","label":"Free movement","tooltip":"","group":"3ff702ba68a40b05","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":120,"y":300,"wires":[["59ad0e701305e4fa"]]},{"id":"59ad0e701305e4fa","type":"mqtt out","z":"f6f2187d.f17ca8","name":"drone/free_move","topic":"drone/free_movement","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fd6f02e17d2c10","x":350,"y":300,"wires":[]},{"id":"a05b1742ebef9de2","type":"switch","z":"f6f2187d.f17ca8","d":true,"name":"separador","property":"payload.y","propertyType":"msg","rules":[{"t":"regex","v":"^(up|down|null)$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":360,"wires":[["4759b0635cc8f0f9"],[]]},{"id":"4759b0635cc8f0f9","type":"split","z":"f6f2187d.f17ca8","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":470,"y":360,"wires":[["e19661a14bd341b2"]]},{"id":"e19661a14bd341b2","type":"batch","z":"f6f2187d.f17ca8","d":true,"name":"","mode":"interval","count":"1","overlap":0,"interval":"5","allowEmptySequence":false,"honourParts":false,"topics":[],"x":590,"y":360,"wires":[["79740af246585156"]]},{"id":"f3b8bf9eeadde635","type":"ui_text","z":"f6f2187d.f17ca8","group":"19162b8a1df4bb98","order":1,"width":3,"height":1,"name":"","label":"Posição:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":320,"y":800,"wires":[]},{"id":"0212f1574893fea3","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"drone/deslocamento","qos":"2","datatype":"auto-detect","broker":"29fd6f02e17d2c10","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":800,"wires":[["f3b8bf9eeadde635"]]},{"id":"53bf406465387f64","type":"rbe","z":"f6f2187d.f17ca8","d":true,"name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1090,"y":380,"wires":[["4ed7406a21dbe4d1"]]},{"id":"0181ed305dcdf4c9","type":"switch","z":"f6f2187d.f17ca8","name":"separador","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(null)$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":280,"wires":[["4ac8a709af06c5c9"],[]]},{"id":"4ac8a709af06c5c9","type":"function","z":"f6f2187d.f17ca8","name":"function 1","func":"msg.payload = JSON.stringify(null); // Converte \"null\" em uma string\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":280,"wires":[["9a7a6e590aa66e68"]]},{"id":"8ad106868569128a","type":"debug","z":"f6f2187d.f17ca8","d":true,"name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":340,"wires":[]},{"id":"79740af246585156","type":"rbe","z":"f6f2187d.f17ca8","d":true,"name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":710,"y":360,"wires":[["7a25993119133d36"]]},{"id":"203cffbac0510ba1","type":"batch","z":"f6f2187d.f17ca8","d":true,"name":"","mode":"interval","count":"1","overlap":0,"interval":"5","allowEmptySequence":false,"honourParts":false,"topics":[],"x":970,"y":380,"wires":[["53bf406465387f64"]]},{"id":"9a7a6e590aa66e68","type":"debug","z":"f6f2187d.f17ca8","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":260,"wires":[]},{"id":"7a25993119133d36","type":"switch","z":"f6f2187d.f17ca8","d":true,"name":"separador","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(null)$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":360,"wires":[["edc6e5ea3682542d"],[]]},{"id":"edc6e5ea3682542d","type":"function","z":"f6f2187d.f17ca8","d":true,"name":"function 2","func":"msg.payload = JSON.stringify(null); // Converte \"null\" em uma string\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":340,"wires":[["8ad106868569128a"]]},{"id":"072f2d05c6d5abc3","type":"mqtt out","z":"f6f2187d.f17ca8","name":"drone/joystick","topic":"drone/joystick","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fd6f02e17d2c10","x":280,"y":460,"wires":[]},{"id":"42b662c49e1f4bea","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"3ff702ba68a40b05","order":2,"width":2,"height":1,"passthru":false,"label":"up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"up","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":420,"wires":[["072f2d05c6d5abc3"]]},{"id":"f14e093953687235","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"3ff702ba68a40b05","order":4,"width":2,"height":1,"passthru":false,"label":"down","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"down","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":460,"wires":[["072f2d05c6d5abc3"]]},{"id":"a3313485d3be7cf4","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"3ff702ba68a40b05","order":3,"width":2,"height":1,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"null","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":500,"wires":[["072f2d05c6d5abc3"]]},{"id":"29fd6f02e17d2c10","type":"mqtt-broker","name":"","broker":"https://test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3ff702ba68a40b05","type":"ui_group","name":"joystick_container","tab":"5151e24592411eb4","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"d7a9aeb7f59d1301","type":"ui_group","name":"deslocamento","tab":"5151e24592411eb4","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"37045336fb6161e4","type":"ui_group","name":"buttons_container","tab":"5151e24592411eb4","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"ee546c56998438bc","type":"ui_group","name":"Gauge_input","tab":"5151e24592411eb4","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"19162b8a1df4bb98","type":"ui_group","name":"Current Values","tab":"5151e24592411eb4","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"5151e24592411eb4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]